@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


:root {
  --first-color:  #0F6292;
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(0, 0%, 87%);
  --text-white: #fff;

  /* font and Typography */
  --body-font: "Playwrite GB S", serif;
  --second-font: "Crimson Text", serif;

  --big-font-size: 56px;
  --h1-font-size: 50px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;

  /* font Weight */

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: var(--first-color);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: #01111a;
  border-radius: 100px;
}

body,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-700);
}

ul {
  list-style: none;

}

a {
  text-decoration: none;

}



button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  transition: all 0.4s ease-in-out;
  
}
.home__img{
  filter: grayscale(100%);
}
.home__img:hover{
  cursor: pointer;
  filter: grayscale(0%);
}

/* Resuable css */

.container{
  /* background-color: var(--first-color); */
  max-width: 78.13%;
  margin-inline: auto;

}

.grid {
  display: grid;
  gap: 30px;
}

.section {
  padding-block: 3%;
}

.title {
  font-size: 4vw;
  font-weight: var(--weight-800);
  text-align: center;
  margin: 0 2.5% 5% 0;
}

span{
  color: var(--first-color);

}

.button {
  display: inline-block;
  color: var(--title-color);
  border: 1px solid var(--first-color);
  padding: 15px 70px 15px 35px;
  border-radius: 35px;  
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.button:hover {
  color: var(--text-white);

}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: translate(-100%);
  background-color: var(--first-color);
  z-index: -1;
  transition: all 0.3s ease-out;
}

.button:hover::before{
  transform: translateX(0);
}

.button__icon {
  background-color: var(--first-color);
  position: absolute;
  inset-block: -2px;
  right: 0;
  width: 55px;
  border-radius: 50%;
  color: var(--text-white);
  font-size: var(--large-font-size);
  text-align: center;
  line-height: 60px;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: adds a transparent background */
  z-index: 1000; /* Ensures it appears above other content */
}


