.para {
  font-size: 1.1vw; 
  margin: 2.75% 12.5%; 
}

.project_name {
  font-family: var(--body-font);
  font-size: 1.3vw; 
}


.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.6% 5%;
}

.projectBox {
  width: 22%;
  height: 59.25vh; 
  border: 1px solid #252525;
  border-radius: 0.3125%; 
  text-align: center;
  padding: 0.9%; 
  letter-spacing: 0.1vw; 
  font-size: 0.9vw; 
  line-height: 1.375vw; 
  margin: 0 6.25% 6.25% 1.5%;
  transition: 0.5s;
}


.projectBox:hover {
  transform: scale(1.05);
  box-shadow: 0 9px 10px 0 var(--first-color) inset;
  cursor: pointer;
}

.projectPhoto {
  display: block;
  width: 100%;
  margin: 20px 0px;
}

.projectbtn {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin: 25px 3% 0;
  border-radius: 5px;
  background-color: var(--first-color);
  color: #E7E7E7;
  height: 30px;
  cursor: pointer;
  font-family: var(--body-font);
}

.projectbtn:hover {
  background-color: var(--first-color);
  color: var(--text-white);
  color: black;
}





/* Mobile Screens (max-width: 600px) */
@media screen and (max-width: 600px) {
  .para {
    font-size: 3.5vw;
    margin: 5% 8%;
  }
  .project_name{
    font-size: 5vw;
    color: var(--first-color);
  }

  .project {
    margin: 3% 2%;
    flex-direction: column;
    align-items: center;
  }

  .projectBox {
    width: 90%;
    height: auto;
    margin: 3% 0;
    font-size: 4vw;
    padding: 5%;
  }
  .projectDesc{
    margin-top: 30px;
    height: 150px;
    font-size: 1rem;
    line-height: 20px;
  }

  .projectPhoto {
    margin: 15px 0;
  }

  .projectbtn {
    font-size: 16px;
    width: 80%;
    height: 40px;
  }
}

/* Tablet Screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  .para {
    font-size: 3 vw;
    margin: 4% 10%;
  }

  .projectBox {
    justify-items: center;
    width: 70%;
    height: auto;
    margin: 4% 2%;
    font-size: 2vw;
  }

  .projectbtn {
    font-size: 15px;
    width: 44%;
  }
}

/* Larger Screens (min-width: 768px) */
@media screen and (min-width: 768px) {
  .para {
    font-size: 1.2vw;
    margin: 2.5% 12%;
  }

  .projectBox {
    width: 25%;
    height: auto;
  }

  .projectbtn {
    font-size: 17px;
  }
}
