.para {
  font-size: 1.1vw; 
  margin: 2.75% 12.5%; 
}

.project_name {
  font-family: var(--body-font);
  font-size: 1.3vw; 
}


.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.6% 5%;
}

.projectBox {
  width: 22%; /* Assuming 400px on a 1600px screen width */
  height: 59.25vh; /* Assuming 500px on a 1600px screen height */
  border: 1px solid #252525;
  border-radius: 0.3125%; /* Assuming 5px on 1600px width */
  text-align: center;
  padding: 0.9375%; /* Assuming 15px on 1600px width */
  letter-spacing: 0.03125vw; /* Assuming 0.5px on 1600px width */
  font-size: 1.125vw; /* Assuming 18px on 1600px width */
  line-height: 1.375vw; /* Assuming 22px on 1600px width */
  margin: 0 6.25% 6.25% 1.5625%; /* Assuming 0px 100px 100px 25px on 1600px width */
  transition: 0.5s;
}


.projectBox:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px 0 var(--first-color) inset;
  cursor: pointer;
}

.projectPhoto {
  display: block;
  width: 100%;
  margin: 20px 0px;
}

.projectbtn {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin: 25px 3% 0;
  border-radius: 5px;
  background-color: var(--first-color);
  color: #E7E7E7;
  height: 30px;
  cursor: pointer;
  font-family: var(--body-font);
}

.projectbtn:hover {
  background-color: var(--first-color);
  color: var(--text-white);
  color: black;
}



